.leaflet-draw-tooltip {
    background: rgb(54, 54, 54);
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: -21px;
    padding: 4px 8px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    z-index: 6;
}

.leaflet-draw-tooltip:before {
    border-right: 6px solid black;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    position: absolute;
    top: 7px;
    left: -7px;
}

.leaflet-draw-tooltip-single {
    margin-top: -14px;
}

.leaflet-draw-tooltip-subtext {
    color: #f8d5e4;
}

.marker-icon, .marker-icon:focus {
    background-color: #ffffff;
    border: 3px solid #3388FF;
    border-radius: 50%;
    margin: -8px 0 0 -8px !important;
    width: 10px !important;
    height: 10px !important;
    outline: 0;
    transition: opacity ease .3s;
}

.marker-icon .icon-index:after{
    content: attr(index);
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    position: relative;
}

.marker-icon-middle, .marker-icon-middle:focus {
    opacity: .7;
    margin: -6px 0 0 -6px !important;
    width: 10px !important;
    height: 10px !important;
}

.cursor-marker {
    cursor: crosshair;
    pointer-events: none;
    display: none;
}

.cursor-marker.visible {
    display: block !important;
}

.pathOptionsCustomClass {
    stroke: rgb(0, 91, 255);
    stroke-width: 4;  
}

.templineCustomClass{
    stroke: rgb(0, 91, 255);
    stroke-width: 4;
}

.hintlineCustomClass{
    stroke: rgb(0, 91, 255);
    stroke-width: 4;
    cursor: crosshair !important;
}