#main{
    margin: 0;
    height: 100vh;
    .main{
        height: 100%;
    }
}

/*-------------------------------*/

.marker-icon-middle, .marker-icon-middle:focus {
    display: none !important;
}