<div class="panel-editor" onselectstart="return false" onmousedown="return false">
    <div class="content">
        <div class="header">
            Add object
        </div>
        <div class="section">
            <button class="move">&#10010;</button>
            <button class="remove">&#10008;</button>
            <button class="undo">&larr;</button>
            <button class="redo">&rarr;</button>
        </div>
        <hr>
        <div class="footer">
            <button class="polyline">&#931;</button>
            <button class="polygon">&#9850;</button>
            <button class="circle">&#9675;</button>            
        </div>
    </div>
</div>